.list-item {
  margin: 2px 20px;
  display: flex;
  align-items: center;
}
.tab-button {
  font-weight: 600;
  font-size: 16px;
  color: #0f172a;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.active-tab {
  border: 2px solid #0284c7;
  padding: 8px 12px;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .list-item {
    margin: 2px 12px;
    font-size: 15px;
  }
  .tab-button {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .list-item {
    margin: 0px 8px;
    font-size: 14px;
  }
  .tab-button {
    font-size: 14px;
  }
}
